<div class="lookbook">
    <div class="container">

        <div class="row no-gutters">
            <div class="lookbook__header">
                <div class="lookbook__heading">
                    <span class="paragraph paragraph--short">lookbook 220</span>
                    <h2 class="sub-heading">Spring<br>lookbook</h2>
                </div>
                <a class="link link--bold"> 
                    <span class="link__name" routerLink="/lookbook">Go To Lookbook</span>
                    <svg class="link__arrow">
                        <use xlink:href="../../../assets/img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="lookbook__shop">
                    <div class="lookbook__shop-img">
                        <img src="../../../../assets/img/home/spring-1.jpg" alt="">
                    </div>

                    <p class="lookbook__shop-text paragraph paragraph--long">
                        shop the full collection of spring lookbook to find what you are looking for today
                    </p>

                    <div class="lookbook__shop-link">
                        <a class="">
                            <!-- rounded text  -->
                            <div id="warped">
                                <span class='w0'>s</span><span class='w1'>e</span><span class='w2'>e</span><span class='w3'> </span><span class='w4'>a</span><span class='w5'>l</span><span class='w6'>l</span><span class='w7'> </span><span class='w8'>s</span><span class='w9'>e</span><span class='w10'>e</span><span class='w11'> </span><span class='w12'>a</span><span class='w13'>l</span><span class='w14'>l</span><span class='w15'> </span><span class='w16'> </span><span class='w17'>s</span><span class='w18'>e</span><span class='w19'>e</span><span class='w20'> </span><span class='w21'>a</span><span class='w22'>l</span><span class='w23'>l</span><span class='w24'> </span><span class='w25'>s</span><span class='w26'>e</span><span class='w27'>e</span><span class='w28'> </span><span class='w29'>a</span><span class='w30'>l</span><span class='w31'>l</span><span class='w32'> </span>
    
                            <!--  icon -->
                                <svg class="lookbook__shop-link-icon">
                                    <use xlink:href="../../../../assets/img/sprite.svg#icon-righ-arrow">
                                    </use>
                                </svg>
                            </div> 
                        </a>  
                    </div>

                </div>
            </div>

            <div class="col-md-7 offset-md-1">
                <div class="lookbook__info">
                    <p class="lookbook__info-text paragraph paragraph--long">
                        the concept of our Namelazz has been based on our customer images :elegant, feminine And
                        sophisticated girls. we are strongly inspired by tournuers of the woman body which we try
                        to accentute with the perfect fit and simplicity of our clothes
                    </p>

                    <div class="lookbook__info-img ">
                        <img class="lookbook__info-img--big" src="../../../../assets/img/home/spring-3.jpg" alt="">
                        <img class="lookbook__info-img--sm" src="../../../../assets/img/home/spring-2.jpg" alt="">
                    </div>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="lookbook__instagram">
                <div class="lookbook__intagram-icon">

                </div>
                <h2 class="sub-heading">follow Us On instagram</h2>
                <div class="lookbook__instagram-handel  paragraph paragraph--short">&#64;namelazz</div>
            </div>
        </div>

    </div>

    
    <div class="lookbook__gallary">
        <div class="row no-gutters">
            <div class="col-md-3"><img src="../../../../assets/img/home/gallery-1.jpg" alt=""></div>
            <div class="col-md-3"><img src="../../../../assets/img/home/gallery-2.jpg" alt=""></div>
            <div class="col-md-3"><img src="../../../../assets/img/home/gallery-3.jpg" alt=""></div>
            <div class="col-md-3"><img src="../../../../assets/img/home/gallery-4.jpg" alt=""></div>
        </div>
    </div>
</div>
