@import '../../../../styles/variable.scss';


.lookbook{

    background-color: $color-primary;
    padding: 9rem 0 0;

    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 4.5rem;
    }

    &__shop{

        display: flex;
        flex-direction: column;

        &-text{
            display: flex;
            justify-content: center;
            margin: 12rem auto 8rem;
            text-align: center;
            font-size: 1.2rem;
            width: 75%;
        }

        &-img{
            position: relative;
            z-index: 1;
            img{
                width: 95%;
                height: 100%;
            }

            &::after{
                content: "";
                position: absolute;
                display: block;
                width: 113%;
                height: 142%;
                border: 1px solid $color-dark-500;
                border-radius: 50%;
                top: -11rem;
                left: -2rem;
                transform: skewX(-17deg);
                z-index: -1;
            }
        }

        &-link {
            align-self: flex-end;
            margin-right: -2.5rem;

            & a{
                position: relative;
                display: inline-block;
                border-radius: 50%;
                cursor: pointer;
            }

            &-icon {
                fill: $color-dark-500;
                width: 3.6rem;
                height: 3.6rem;
                transition: all .2s;

            }
        
            &:hover #warped span{
                line-height: .1;

            }

            &:hover #warped{
                color: $color-accent-dark;
            }
        
            &:hover &-icon{
                fill: $color-accent-dark;
                transform: scale(1.05);
            }

            a:active &-icon{
                transform: scale(.7);
            }
            
            a:active #warped span{
                line-height: .5;
            }
        }

    }

    &__info{


        &-text{
            margin: 6rem 0 5rem;
            width: 75%;
        }

        &-img{
            position: relative;
            display: flex;
            justify-content: flex-end;

            &--sm{
                width: 25rem;
                height: 31rem;
                position: absolute;
                left: -22%;
                bottom: -10%;
            }

            &--big{
                width: 87%;
                height: 100%;
            }
        }
    }


    &__instagram{
        width: 100%;
        margin: 18rem 0 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-icon{

        }

        &-handel{
            font-size: 1.65rem;
            letter-spacing: .75px;
            cursor: pointer;
            transition: all .2s;

            &:hover{
                letter-spacing: 1.4px;
                color: $color-accent-dark;
                font-weight: 600;
            }
        }

    }

    
    &__gallary{

        img{
            width: 100%;
            height: 35rem;
            object-fit: cover;
        }
    }

}




#warped {position: relative; display: block; width:184px; height:110px;
    display: flex;
    align-items: center;
    justify-content: center;
;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family: "Raleway", sans-serif;font-size:18px;font-weight:500;font-style:normal;
line-height:0.4; white-space:pre; overflow:visible; padding:0px;
transition: all .2s;}

#warped .w0 {-moz-transform: rotate(7.94rad);-webkit-transform: rotate(7.94rad);-o-transform:
rotate(7.94rad);-ms-transform: rotate(7.94rad); transform: rotate(7.94rad);
width: 8px; height: 12px; left: 130.83px; top: 46.81px;}

#warped .w1 {-moz-transform: rotate(8.16rad);-webkit-transform: rotate(8.16rad);-o-transform:
rotate(8.16rad);-ms-transform: rotate(8.16rad); transform: rotate(8.16rad);
width: 9px; height: 12px; left: 128.45px; top: 56.11px;}

#warped .w2 {-moz-transform: rotate(8.39rad);-webkit-transform: rotate(8.39rad);-o-transform:
rotate(8.39rad);-ms-transform: rotate(8.39rad); transform: rotate(8.39rad);
width: 9px; height: 12px; left: 124.32px; top: 65.19px;}

#warped .w3 {-moz-transform: rotate(8.58rad);-webkit-transform: rotate(8.58rad);-o-transform:
rotate(8.58rad);-ms-transform: rotate(8.58rad); transform: rotate(8.58rad);
width: 5px; height: 12px; left: 121.58px; top: 71.62px;}

#warped .w4 {-moz-transform: rotate(8.76rad);-webkit-transform: rotate(8.76rad);-o-transform:
rotate(8.76rad);-ms-transform: rotate(8.76rad); transform: rotate(8.76rad);
width: 9px; height: 12px; left: 113.73px; top: 77.06px;}

#warped .w5 {-moz-transform: rotate(8.96rad);-webkit-transform: rotate(8.96rad);-o-transform:
rotate(8.96rad);-ms-transform: rotate(8.96rad); transform: rotate(8.96rad);
width: 6px; height: 12px; left: 108.03px; top: 81.55px;}

#warped .w6 {-moz-transform: rotate(9.12rad);-webkit-transform: rotate(9.12rad);-o-transform:
rotate(9.12rad);-ms-transform: rotate(9.12rad); transform: rotate(9.12rad);
width: 6px; height: 12px; left: 101.53px; top: 84.13px;}

#warped .w7 {-moz-transform: rotate(9.28rad);-webkit-transform: rotate(9.28rad);-o-transform:
rotate(9.28rad);-ms-transform: rotate(9.28rad); transform: rotate(9.28rad);
width: 5px; height: 12px; left: 95.69px; top: 85.55px;}

#warped .w8 {-moz-transform: rotate(9.45rad);-webkit-transform: rotate(9.45rad);-o-transform:
rotate(9.45rad);-ms-transform: rotate(9.45rad); transform: rotate(9.45rad);
width: 8px; height: 12px; left: 86.72px; top: 85.98px;}

#warped .w9 {-moz-transform: rotate(9.67rad);-webkit-transform: rotate(9.67rad);-o-transform:
rotate(9.67rad);-ms-transform: rotate(9.67rad); transform: rotate(9.67rad);
width: 9px; height: 12px; left: 76.83px; top: 84.65px;}

#warped .w10 {-moz-transform: rotate(9.9rad);-webkit-transform: rotate(9.9rad);-o-transform:
rotate(9.9rad);-ms-transform: rotate(9.9rad); transform: rotate(9.9rad);
width: 9px; height: 12px; left: 67.52px; top: 81.07px;}

#warped .w11 {-moz-transform: rotate(10.09rad);-webkit-transform: rotate(10.09rad);-o-transform:
rotate(10.09rad);-ms-transform: rotate(10.09rad); transform: rotate(10.09rad);
width: 5px; height: 12px; left: 62.82px; top: 76.72px;}

#warped .w12 {-moz-transform: rotate(10.28rad);-webkit-transform: rotate(10.28rad);-o-transform:
rotate(10.28rad);-ms-transform: rotate(10.28rad); transform: rotate(10.28rad);
width: 9px; height: 12px; left: 55.04px; top: 71.2px;}

#warped .w13 {-moz-transform: rotate(10.47rad);-webkit-transform: rotate(10.47rad);-o-transform:
rotate(10.47rad);-ms-transform: rotate(10.47rad); transform: rotate(10.47rad);
width: 6px; height: 12px; left: 51.63px; top: 64.28px;}

#warped .w14 {-moz-transform: rotate(10.64rad);-webkit-transform: rotate(10.64rad);-o-transform:
rotate(10.64rad);-ms-transform: rotate(10.64rad); transform: rotate(10.64rad);
width: 6px; height: 12px; left: 48.68px; top: 57.94px;}

#warped .w15 {-moz-transform: rotate(10.79rad);-webkit-transform: rotate(10.79rad);-o-transform:
rotate(10.79rad);-ms-transform: rotate(10.79rad); transform: rotate(10.79rad);
width: 5px; height: 12px; left: 47.39px; top: 51.7px;}

#warped .w16 {-moz-transform: rotate(10.93rad);-webkit-transform: rotate(10.93rad);-o-transform:
rotate(10.93rad);-ms-transform: rotate(10.93rad); transform: rotate(10.93rad);
width: 5px; height: 12px; left: 46.58px; top: 45.76px;}

#warped .w17 {-moz-transform: rotate(11.1rad);-webkit-transform: rotate(11.1rad);-o-transform:
rotate(11.1rad);-ms-transform: rotate(11.1rad); transform: rotate(11.1rad);
width: 8px; height: 12px; left: 45.26px; top: 38.27px;}

#warped .w18 {-moz-transform: rotate(11.32rad);-webkit-transform: rotate(11.32rad);-o-transform:
rotate(11.32rad);-ms-transform: rotate(11.32rad); transform: rotate(11.32rad);
width: 9px; height: 12px; left: 46.83px; top: 29.02px;}

#warped .w19 {-moz-transform: rotate(11.55rad);-webkit-transform: rotate(11.55rad);-o-transform:
rotate(11.55rad);-ms-transform: rotate(11.55rad); transform: rotate(11.55rad);
width: 9px; height: 12px; left: 51.15px; top: 20.02px;}

#warped .w20 {-moz-transform: rotate(11.74rad);-webkit-transform: rotate(11.74rad);-o-transform:
rotate(11.74rad);-ms-transform: rotate(11.74rad); transform: rotate(11.74rad);
width: 5px; height: 12px; left: 58.02px; top: 13.7px;}

#warped .w21 {-moz-transform: rotate(11.93rad);-webkit-transform: rotate(11.93rad);-o-transform:
rotate(11.93rad);-ms-transform: rotate(11.93rad); transform: rotate(11.93rad);
width: 9px; height: 12px; left: 61.98px; top: 8.38px;}

#warped .w22 {-moz-transform: rotate(12.12rad);-webkit-transform: rotate(12.12rad);-o-transform:
rotate(12.12rad);-ms-transform: rotate(12.12rad); transform: rotate(12.12rad);
width: 6px; height: 12px; left: 70.78px; top: 4.04px;}

#warped .w23 {-moz-transform: rotate(12.29rad);-webkit-transform: rotate(12.29rad);-o-transform:
rotate(12.29rad);-ms-transform: rotate(12.29rad); transform: rotate(12.29rad);
width: 6px; height: 12px; left: 77.33px; top: 1.61px;}

#warped .w24 {-moz-transform: rotate(12.44rad);-webkit-transform: rotate(12.44rad);-o-transform:
rotate(12.44rad);-ms-transform: rotate(12.44rad); transform: rotate(12.44rad);
width: 5px; height: 12px; left: 84.2px; top: 0.32px;}

#warped .w25 {-moz-transform: rotate(12.61rad);-webkit-transform: rotate(12.61rad);-o-transform:
rotate(12.61rad);-ms-transform: rotate(12.61rad); transform: rotate(12.61rad);
width: 8px; height: 12px; left: 90.18px; top: 0.05px;}

#warped .w26 {-moz-transform: rotate(12.83rad);-webkit-transform: rotate(12.83rad);-o-transform:
rotate(12.83rad);-ms-transform: rotate(12.83rad); transform: rotate(12.83rad);
width: 9px; height: 12px; left: 99.04px; top: 1.57px;}

#warped .w27 {-moz-transform: rotate(13.07rad);-webkit-transform: rotate(13.07rad);-o-transform:
rotate(13.07rad);-ms-transform: rotate(13.07rad); transform: rotate(13.07rad);
width: 9px; height: 12px; left: 108.28px; top: 5.35px;}

#warped .w28 {-moz-transform: rotate(13.25rad);-webkit-transform: rotate(13.25rad);-o-transform:
rotate(13.25rad);-ms-transform: rotate(13.25rad); transform: rotate(13.25rad);
width: 5px; height: 12px; left: 116.88px; top: 9.84px;}

#warped .w29 {-moz-transform: rotate(13.44rad);-webkit-transform: rotate(13.44rad);-o-transform:
rotate(13.44rad);-ms-transform: rotate(13.44rad); transform: rotate(13.44rad);
width: 9px; height: 12px; left: 120.54px; top: 15.48px;}

#warped .w30 {-moz-transform: rotate(13.64rad);-webkit-transform: rotate(13.64rad);-o-transform:
rotate(13.64rad);-ms-transform: rotate(13.64rad); transform: rotate(13.64rad);
width: 6px; height: 12px; left: 126.8px; top: 22.51px;}

#warped .w31 {-moz-transform: rotate(13.8rad);-webkit-transform: rotate(13.8rad);-o-transform:
rotate(13.8rad);-ms-transform: rotate(13.8rad); transform: rotate(13.8rad);
width: 6px; height: 12px; left: 129.62px; top: 28.91px;}

#warped .w32 {-moz-transform: rotate(13.95rad);-webkit-transform: rotate(13.95rad);-o-transform:
rotate(13.95rad);-ms-transform: rotate(13.95rad); transform: rotate(13.95rad);
width: 5px; height: 12px; left: 131.78px; top: 35.18px;}

#warped .w33 {-moz-transform: rotate(8.08rad);-webkit-transform: rotate(8.08rad);-o-transform:
rotate(8.08rad);-ms-transform: rotate(8.08rad); transform: rotate(8.08rad);
width: 17px; height: 24px; left: 431.43px; top: 230.7px;}

#warped .w34 {-moz-transform: rotate(8.22rad);-webkit-transform: rotate(8.22rad);-o-transform:
rotate(8.22rad);-ms-transform: rotate(8.22rad); transform: rotate(8.22rad);
width: 13px; height: 24px; left: 427.52px; top: 249.79px;}

#warped .w35 {-moz-transform: rotate(8.36rad);-webkit-transform: rotate(8.36rad);-o-transform:
rotate(8.36rad);-ms-transform: rotate(8.36rad); transform: rotate(8.36rad);
width: 19px; height: 24px; left: 415.64px; top: 268.8px;}

#warped .w36 {-moz-transform: rotate(8.49rad);-webkit-transform: rotate(8.49rad);-o-transform:
rotate(8.49rad);-ms-transform: rotate(8.49rad); transform: rotate(8.49rad);
width: 10px; height: 24px; left: 409.59px; top: 285.19px;}

#warped .w37 {-moz-transform: rotate(8.59rad);-webkit-transform: rotate(8.59rad);-o-transform:
rotate(8.59rad);-ms-transform: rotate(8.59rad); transform: rotate(8.59rad);
width: 11px; height: 24px; left: 399.25px; top: 297.15px;}

#warped .w38 {-moz-transform: rotate(8.7rad);-webkit-transform: rotate(8.7rad);-o-transform:
rotate(8.7rad);-ms-transform: rotate(8.7rad); transform: rotate(8.7rad);
width: 11px; height: 24px; left: 387.85px; top: 308.37px;}

#warped .w39 {-moz-transform: rotate(8.81rad);-webkit-transform: rotate(8.81rad);-o-transform:
rotate(8.81rad);-ms-transform: rotate(8.81rad); transform: rotate(8.81rad);
width: 13px; height: 24px; left: 373.5px; top: 318.89px;}

#warped .w40 {-moz-transform: rotate(8.94rad);-webkit-transform: rotate(8.94rad);-o-transform:
rotate(8.94rad);-ms-transform: rotate(8.94rad); transform: rotate(8.94rad);
width: 16px; height: 24px; left: 355.35px; top: 329px;}