.line{
    width: 100%;
    height: .2rem;
    background: -webkit-linear-gradient(left,
        $color-primary 0%,
        rgba($color-dark-500, .4) 50%,
        rgba($color-dark-500, .4) 51%,
        $color-primary 99%,
        $color-primary 100%);  

}

