.link{   
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
  
    &:link,
    &:visited,
    &:hover,
    &:active{
      text-decoration: none;
    }

  
    &--dashed{
      text-decoration: underline;
    }
  
    &--bold{
      font-weight: 600;
    }
  
    &--semi-bold{
      font-weight: 500;
    }
  
    &__name{
        color: $color-dark-500;
        margin-right: .6rem;
        font-size: 1.4rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 1.2;
        transition: all .2s;

        &--sm{
          font-size: 1.3rem;
          letter-spacing: .75px;
        }
    }
  
    &__arrow{
        width: 2rem;
        height: 2rem;
        fill: $color-dark-500;
        transition: all .2s;

        &--sm{
          width: 1.75rem;
          height: 1.75rem;
        }
    }
  
    &:hover &__name,
    &:hover &__arrow{
      color: $color-accent-dark;
      fill: $color-accent-dark;
      letter-spacing: 1.3px;
    }
    &:active &__name{
      letter-spacing: .9px;
    }
  
    // .button{
    //   border: none;
    //   background-color: $color-accent;
    //   color: $color-primary;
  
    //   &--submit{
    //     padding: .4rem 1rem;
    //   }
    //   &:hover{
    //       background-color: $color-accent-dark
    //   }
    // }
  }