<div class="page">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <ul class="page__menu">
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/clothing-care" class="page__menu__link link">garment care</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/delivery" class="page__menu__link link">shipping and delivery</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/order-tracking" class="page__menu__link link">tracking order</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/return" class="page__menu__link link">perchase returns</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/how-to-place-order" class="page__menu__link link">how to place order</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/policy" class="page__menu__link link">the privacy policy</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/privacy" class="page__menu__link link">privacy</a>
                    </li>
                    <li class="page__menue__item">
                        <a routerLinkActive="active" routerLink="/pages/warranty-period" class="page__menu__link link">warranty period</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>