@import "../../../styles/variable.scss";

.login{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;


    &__card{
        width: 33rem;
        font-size: 1.4rem;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $color-dark-500;
        padding: 5rem 0rem;
        position: relative;
    }


    &__icon{
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;

        &--user{
            width: 3rem;
            height: 3rem;
            margin-bottom: 1rem;
            fill: $color-accent;
        }

    }


    &__title{
        text-transform: uppercase;
        margin-bottom: 4rem;
        font-family: "Cinzel", serif;
        font-size: 2rem;
        font-weight: 500;
    }

    &__form{
        width: 100%;

        input.ng-touched.ng-invalid{
             border: 1px solid $color-accent-danger;
        }

        .form__group{
            flex-direction: column;
            margin-bottom: 1rem;

        }


        &__group:last-child{
            margin-bottom: 0;
        }
    }
}