<div class="header">
  <div class="row">
      
    <!------------------------------
      ------------------------------
      -------------- First part -->

    <div class="col-md-6 p-0 header__col">
      <img class="header__img" src="../../../../assets/img/header-1.jpg"alt=""/>

      <div class="header__content-wrap">

        <div class="header__content">
          <span>/ 0 1</span>
          <h1>Wind&nbsp;In&nbsp;The&nbsp;Hair</h1>
          <p class="">cruise collection</p>
   
          <div class="header__link">
            <a routerLink="/new">
              <!-- rounded text  -->
              <div id="warped">
                <span class="w0">n</span><span class="w1">e</span
                ><span class="w2">w</span><span class="w3"> </span
                ><span class="w4">c</span><span class="w5">o</span
                ><span class="w6">l</span><span class="w7">l</span
                ><span class="w8">e</span><span class="w9">c</span
                ><span class="w10">t</span><span class="w11">i</span
                ><span class="w12">o</span><span class="w13">n</span
                ><span class="w14">n</span><span class="w15">e</span
                ><span class="w16">w</span><span class="w17"> </span
                ><span class="w18">c</span><span class="w19">o</span
                ><span class="w20">l</span><span class="w21">l</span
                ><span class="w22">e</span><span class="w23">c</span
                ><span class="w24">t</span><span class="w25">i</span
                ><span class="w26">o</span><span class="w27">n</span>
                <!--  icon -->
                <svg class="header__link__icon">
                  <use
                    xlink:href="../../../../assets/img/sprite.svg#icon-right-arrow"
                  ></use>
                </svg>
              </div>
                
            </a>  
          </div>
        </div>

      </div>
    </div>

   <!------------------------------
      ------------------------------
      -------------- Second part -->

    <div class="col-md-2 p-0 header__col">
      <img class="header__img" src="../../../../assets/img/header-2.jpg" alt=""/>

      <div class="header__content-wrap">

        <div class="header__content">
          <span>/ 0 2</span>
        </div>
      </div>
    </div>


       <!------------------------------
      ------------------------------
      -------------- third part -->

    <div class="col-md-4 p-0 header__col">
      <img class="header__img" src="../../../../assets/img/header-3.jpg" alt=""
      />

      <div class="header__content-wrap">

        <div class="header__content">
          <span>/ 0 3</span>
        </div>
      </div>
    </div>

  </div>
</div>
