@import '../../../styles/variable.scss';

.more-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50rem;
    background-image: url("../../../assets/img/home/background-lg.jpg");
    background-size: cover;
    background-position: center;
    

    &__heading{
        color: $color-primary;
        line-height: 1.25;
        text-align: center;
    }

    &__text{
        margin: 1.75rem 0 8rem;
        color: rgba($color-primary, .6);
        font-size: 1.4rem;
        word-spacing: 3px;
    }

    .link{

        &__name{
            color: $color-primary;
            letter-spacing: 2px;
        }
    
        &__arrow{
            fill: $color-primary;
        }

        &:hover &__name{
            letter-spacing: 2.5px;
            color: #000;
        }
        &:active &__name{
            letter-spacing: 1.75px;
        }
    }

}