<header></header>
<bestsellers [products]="products"></bestsellers>

<div class="more-info">
    <div class="more-info__heading sub-heading">&laquo; Agirl Should be<br>Two things: Classy<br>And Fabulous &raquo;</div>
    <div class="more-info__text">New Collection Inspired By Coco Channel</div>
    <a class="link link--semi-bold"> 
        <span class="link__name">Learn More</span>
        <svg class="link__arrow">
            <use xlink:href="../../../assets/img/sprite.svg#icon-right-arrow"></use>
        </svg>
    </a>
</div>

<catalog></catalog>
<about-us></about-us>
<lookbook></lookbook>