<div class="sale">
    <div class="container">
        <div class="row">
            <div class="sale__heading">
                <div class="paragraph paragraph--short">main page / <strong>sale</strong></div>
                <h3 class="sale__heading--main sub-heading"> Sale </h3>
                <hr class="m-0">
            </div>
        </div>
        
        <div class="sale__products" >
            <div class="row">
                <div class="col-md-3" *ngFor="let product of saleProducts">
                    <product-card [product]= "product" [loadedComponent]="'sale'"></product-card>
                </div>
            </div>
        </div>
    </div>
</div>
