@import "../../../styles/variable.scss";

.product-details{

    padding: 12rem 0 0;
    background-color: $color-primary;

    .path{
        display: block;
        margin-bottom: 1.5rem;
    }

    .product{

        padding-bottom: 9rem;
        &__images-wraper{
            display: flex;
            justify-content: space-between;
            height: 48rem;
            //height: 100%;

            img{
                width: 100%;
            }
        }

        &__main-image{
            flex: 0 0 85%;

            img{
                width: 85%;
                height: 100%;
            }
        }

        &__thumbs-image{
            display: flex;
            flex-direction: column;
            margin-right: 1rem;
            flex: 0 0 15%;

            img{
                margin-bottom: 1rem;
                transition: all .3s;
                &.active{
                    opacity: .4;
                    border: 1px solid $color-accent-success;
                    padding: .4rem;
                }
            }
        }

        &__info{

            //font-size: 1.3rem;
        }

        &__sub-name{

        }

        &__name{
            margin-bottom: 0;
        }

        &__price{
            font-size: 2rem;
            font-weight: 500;
            font-family: "Cinzel", serif;
            margin: .75rem 0 2.2rem;
        }

        &__colors{
            display: flex;
            align-content: center;
            margin-bottom: .75rem;

            .text{
                font-weight: 600;
                font-size: 1.4rem;
                flex: 0 0 20%;
            }

            .colors-list{
                display: flex;
                list-style: none;
                padding: 0;
                flex: 0 0 15%;

                .color-wraper{
                    margin-right: 1.2rem;
                    width: 1.8rem;
                    height: 1.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: all .2s;

                    &.active,
                    &:hover{
                        border: 1px solid $color-accent-dark;
                    }

                    

                    .color-item{
                        width: 1rem;
                        height: 1rem;
                        padding: .5rem;
                        border-radius: 50%;
                        
                    }
                }
            }
        }

        &__sizes{
            display: flex;
            align-content: center;
            margin-bottom: 2.2rem;

            .text{
                font-weight: 600;
                font-size: 1.4rem;
                flex: 0 0 20%;
            }

            .sizes-list{
                list-style: none;
                padding: 0;
                display: flex;

                .size{
                    text-transform: uppercase;
                    border: 1px solid transparent;
                    padding: 0 .75rem;
                    margin-right: 1.2rem;
                    transition: all .2s;

                    &:hover,
                    &.active{
                        color: $color-accent-dark;
                        font-weight: 600;
                        border: 1px solid $color-accent-dark;
                        //background-color: $color-accent;
                    }
                }
            }
        }
        &__actions{
            padding: 3rem 0;
            border-top: 1px solid rgba($color-dark-500, .5);
            border-bottom: 1px solid rgba($color-dark-500, .5);
            display: flex;

            .btn-to-cart{
 
            }

            .btn-to-fav{
                padding: 1rem 1rem;
                background-color: $color-dark-500;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition:  all .3s;

                &.active{
                    background-color: $color-accent;
                }
                .fav{
                    width: 2rem;
                    height: 2rem;
                    fill: $color-primary;

                }

                &:hover{
                    background-color: $color-accent;
                }
            }
        }

        &__related-info{           
            padding: 2.3rem 0;
            border-bottom: 1px solid rgba($color-dark-500, .5);

            &-list{
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding: 0;
                text-transform: uppercase;
                margin-bottom: 1.5rem;
                cursor: pointer;

                li{
                    transition: all .2s;
                }
                li:hover,
                li.active{
                    color: rgba($color-dark-500, .8);
                    font-weight: 600;
                }

            }
    
            &-text{
                width: 70%;
                display: flex;
                flex-direction: column;

                span{

                }
            }
        }

    }



    .related-products{
        padding: 9rem 0;
        background-color: lighten($color-primary, .95);

        &__heading{
            margin-bottom: 4rem;
        }

        ::ng-deep .product{
            height: 43rem;

            // &__name{
            //     flex: 0 0 35%;
            // }

            &__image{
    
                height: 80%;
                transition: all .4s;
                
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
        
            &__details{
                height: 10%;
            }

            .link{
                display: none;
            }
        }

        ::ng-deep .product:hover .product__image{
            height: 65%;
        }
    }


    .instagram{
        width: 100%;
        margin: 9rem 0 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-icon{

        }

        &-handel{
            font-size: 1.65rem;
            letter-spacing: .75px;
            cursor: pointer;
            transition: all .2s;

            &:hover{
                letter-spacing: 1.4px;
                color: $color-accent-dark;
                font-weight: 600;
            }
        }

    }



    .gallary{

        img{
            width: 100%;
            height: 35rem;
            object-fit: cover;
        }
    }
}
