<div class="footer">
    <div class="footer__info col-md-6">
        <div class="footer__info-block">
            <span class="footer__title footer__title--sm">navigate</span>
            <ul class="footer__list">
                <li class="footer__list-item">Shop</li>
                <li class="footer__list-item">Collection</li>
                <li class="footer__list-item">About</li>
                <li class="footer__list-item">Account</li>
                <li class="footer__list-item">Contacts</li>
            </ul>
        </div>

        <div class="footer__info-block">
            <span class="footer__title footer__title--sm">Assistance</span>
            <ul class="footer__list">
                <li class="footer__list-item">Shopping & returns</li>
                <li class="footer__list-item">Privacy policy</li>
                <li class="footer__list-item">FAQ</li>
            </ul>
        </div>

        <div class="footer__info-block">
            <span class="footer__title footer__title--sm">Follow Us</span>
            <ul class="footer__list">
                <li class="footer__list-item">Instgram</li>
                <li class="footer__list-item">Pinterest</li>
            </ul>
        </div>
    </div>

    <div class="footer__news col-md-6">
        <div class="footer__news-content">
            <span class="footer__title footer__title--lg sub-heading">Keep&nbsp;Up&nbsp;To&nbsp;Date Newsletter</span>
            <div class="footer__input">
                <input type="email" name="email" class="input" placeholder="Email">
                <a class="">
                    <svg class="footer__input-icon">
                        <use xlink:href="../../../assets/img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>