
:root{
    --nav-color: #fbf6f2;
    --nav-background: transparent;
    --nav-height: 8.4rem;

  }
  
$color-primary:  #fbf6f2;
$color-primary-dark: #cfc7be;

$color-dark-100: #999;
$color-dark-200: #555;
$color-dark-300: #333;

$color-dark-500: #1a1615;

$color-accent: #a98c7f;
$color-accent-dark:#997666;
$color-accent-beig: #c2c299;

$color-accent-danger: #db1a20;
$color-accent-success: #FF9637;




/* Navigation Variables*/
$nav-color:var(--nav-color);
$nav-background: var(--nav-background);
$nav-height: var(--nav-height);



// /*pallet two*/
//  $color-accent-light:#edd5d8;
//  $color-accent-dark:#d8abb7;

// /*pallet three*/
// $color-accent-dark:#c6adad;
// $color-accent-light:#f6f0f3;





// --grey-light-100: #faf9f9;
// --grey-light-200: #f4f2f2;
// --grey-light-300: #f0eeee;
// --grey-light-400: #ccc;