@import '../../../../styles/variable.scss';

.bestseller{
    padding: 9rem 0;
    background-color: $color-primary;

    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 9rem;
    }

    &__heading{

    }

    &__products{
        margin-bottom: 9rem;

    }

    .product--1{
        flex: 0 0 22%;
        
        img{
            height: 29rem;
            object-fit: cover;
        }

        ::ng-deep .product__name{
            flex:  0  0 50%;
        }

    }


    .product{

        ::ng-deep .product:hover .product__button{
            display: none;
        }



        &--2{
            flex: 0 0 28%;
            margin-top: 17rem;
    
            img{
                height: 38rem;
                object-fit: cover;
            }
    
            ::ng-deep .product__name{
                flex:  0  0 40%;
            }
        }
    
        &--3{
            flex: 0 0 32%;
    
            img{
                height: 44rem;
                object-fit: cover;
            }
    
            ::ng-deep .product__name{
                flex:  0  0 35%;
    
                &__name{
                    
                }
            }
        }
    }


    &__pagination{
        // height: 3rem;
        // width: 30rem;
        // background-color: black;

    }

    
    // .product--3 :host product ::ng-deep .product__name{
    //     flex:  0  0 35%;
    // }
}