<div class="bestseller">
    <div class="container">
        <div class="row">
            <div class="bestseller__header">
                <div class="bestseller__heading">
                    <span class="paragraph paragraph--short">bestseller</span>
                    <h2 class="sub-heading">Popular Categories</h2>
                </div>
                <a class="link link--bold"> 
                    <span class="link__name" routerLink="/catalog/all">Shop All</span>
                    <svg class="link__arrow">
                        <use xlink:href="../../../assets/img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="bestseller__products">
            <div class="row justify-content-between">
                <div class="product product--1">
                    <product-card [loadedComponent] ="'bestseller'" [product] ="filteredProducts[startIndex]"></product-card>
                    <!-- <product-card [loadedComponent] ="'bestseller'" [product]="filteredProducts"></product-card> -->

                </div>

                <!--  -->
                <div class="product product--2">

                    <product-card [loadedComponent] ="'bestseller'" [product] ="filteredProducts[(startIndex+1)]"></product-card>
                    <!-- <product-card [loadedComponent] ="'bestseller'"></product-card> -->

                </div>
                <!--  -->

                <div class="product product--3">

                    <product-card [loadedComponent] ="'bestseller'" [product] ="filteredProducts[endIndex]"></product-card>
                    <!-- <product-card [loadedComponent] ="'bestseller'"></product-card> -->

                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="bestseller__pagination">
                <pagination></pagination>
            </div>
        </div>
    </div>
</div>