<div class="reset-password">

    <div class="reset-password__card">


        <span class="reset-password__title">reset Password</span>

        <form class="reset-password__form" (onSubmit)="confirmPasswordReset(resetPassForm)" #resetPassForm="ngForm">
     
            <div class="form__group">
                <input class="input input--w-full" 
                [ngClass]="(resetPassForm.submitted && !newPass.touched) ? 'notValid': ''"
                [attr.data-val]="newPass.value"
                type="password" name="newPass" 
                id="newPass" 
                required
                ngModel
                #newPass= "ngModel" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <label class="animate-label" for="newPass">New Password</label>
                
                <span class="input-requirments input-requirments--error " 
                    *ngIf="(newPass.value?.length < 1) &&
                    ((newPass.errors?.required && newPass.touched) || (resetPassForm.submitted && !newPass.touched))">&#9679; This field is required
                </span>
            </div>


            
            <div class="form__group">
                <input class="input input--w-full" 
                [ngClass]="(resetPassForm.submitted && !confirmNewPass.touched) ? 'notValid': ''"
                [attr.data-val]="confirmNewPass.value"
                type="password" name="confirmNewPass" 
                id="confirmNewPass" 
                required
                ngModel
                #confirmNewPass= "ngModel" 
                pattern="{{newPass.value}}">
                <label class="animate-label" for="confirmNewPass">Confirm Password</label>
                
                <span class="input-requirments input-requirments--error " 
                    *ngIf="(confirmNewPass.value?.length < 1) &&
                    ((confirmNewPass.errors?.required && confirmNewPass.touched) || (resetPassForm.submitted && !confirmNewPass.touched))">&#9679; This field is required
                </span>

                <span class="input-requirments--error"
                *ngIf="confirmNewPass.errors?.pattern && confirmNewPass.touched">&#9679; Confirm password does not match
                </span> 
                
            </div>

            <div class="form__group">
                <button type="submit" class="button button--w-full">Rest Password</button>
            </div>

        </form>
    </div>
</div>