<div class="about-us">
    <div class="container">
        <div class="row no-gutters">
            <div class="about-us__header">
                <div class="about-us__heading">
                    <span class="paragraph paragraph--short">about us</span>
                    <h2 class="sub-heading">Our Goal Is<br>Your Beauty</h2>
                </div>
                <a class="link link--bold"> 
                    <span class="link__name">Read More</span>
                    <svg class="link__arrow">
                        <use xlink:href="../../../assets/img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    
        <div class="row">
            <div class="about-us__info col-md-5">
                <p class="text paragraph paragraph--long">
                    the concept of our Namelazz has been based on our customer images :elegant, feminine And
                    sophisticated girls. we are strongly inspired by tournuers of the woman body which we try
                    to accentute with the perfect fit and simplicity of our clothes
                </p>
                <div class="image">
                    <img src="../../../../assets/img/home/about-1.jpg" alt="">

                </div>
                <div class="about-us__info-link">
                    <a class="">
                        <!-- rounded text  -->
                        <div id="warped">
                            <span class='w0'>r</span><span class='w1'>e</span><span class='w2'>a</span><span class='w3'>d</span><span class='w4'> </span><span class='w5'>m</span><span class='w6'>o</span><span class='w7'>r</span><span class='w8'>e</span><span class='w9'> </span><span class='w10'>r</span><span class='w11'>e</span><span class='w12'>a</span><span class='w13'>d</span><span class='w14'> </span><span class='w15'>m</span><span class='w16'>o</span><span class='w17'>r</span><span class='w18'>e</span><span class='w19'> </span><span class='w20'>r</span><span class='w21'>e</span><span class='w22'>a</span><span class='w23'>d</span><span class='w24'> </span><span class='w25'>m</span><span class='w26'>o</span><span class='w27'>r</span><span class='w28'>e</span><span class='w29'> </span>

                        <!--  icon -->
                            <svg class="about-us__info-link-icon">
                                <use xlink:href="../../../../assets/img/sprite.svg#icon-righ-arrow">
                                </use>
                            </svg>
                        </div> 
                    </a>  
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="about-us__img-big">

                    <img src="../../../../assets/img/home/about-2.jpg" alt="">
                </div> 
            </div>
        </div>
    </div>
</div>

