@import '../../../../styles/variable.scss';

.catalog{
    padding: 9rem 0;
    background-color: $color-primary;

    &__header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 9rem;
    }
    
    .product--1{
        flex: 0 0 32%;
        position: relative;
        z-index: 1;
        
        img{
            height: 29rem;
            object-fit: cover;
        }

        ::ng-deep .product__name{
            flex:  0  0 35%;
        }

        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 105%;
            height: 105%;
            border: 1px solid $color-dark-500;
            border-radius: 50%;
            top: -19rem;
            left: 0rem;
            transform: skewX(-15deg);
            z-index: -1;
        }

    }

    .product--2{
        flex: 0 0 25%;

        img{
            height: 38rem;
            object-fit: cover;
        }

        ::ng-deep .product__name{
            flex:  0  0 45%;
        }
    }

    .product--3{
        flex: 0 0 32%;

        img{
            height: 44rem;
            object-fit: cover;
        }

        ::ng-deep .product__name{
            flex:  0  0 35%;
        }
    }


    &__categories{

        flex: 0 0 16%;
        margin: 5rem 0 2rem;

        &-list{
            display: flex;
            flex-direction: column;

            a{
                cursor: pointer;
                text-decoration: none;
                color: $color-dark-500;
            }

            &-item{
                border-bottom: 1px solid $color-dark-500;
                display: flex;
                justify-content: flex-end;
                padding: .8rem 0;
                font-size: 1.4rem;
                font-weight: 500;
                transition: all .2s;

                &:hover{
                    //font-weight: 600;
                    border-bottom: 1px solid $color-accent-dark;
                    color: $color-accent-dark;
                    letter-spacing: .75px;

                }
            }
        }
    }
}